
{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">Register Here</h1>
    <div class="row">
        {% for message in messages %}
            <h6 class="ml-4">{{ message }}</h6>
        {% endfor %}
    </div>
    <div class="row">
        <div class="col">
            <form action="{% url 'accounts:register' %}" method="post" >
                {% csrf_token %}
                <h4 class="mr-4">First Name :</h4>
                <input type="text" name="first_name" class="form-control mb-4 mr-sm-2" 
                placeholder="Subham">
                <h4 class="mr-4">Last Name :</h4>
                <input type="text" name="last_name" class="form-control mb-4 mr-sm-2" 
                placeholder="Saha">
                <h4 class="mr-4">User Name :</h4>
                <input type="text" name="user_name" class="form-control mb-4 mr-sm-2" 
                placeholder="Subham_Saha">
                <h4 class="mr-4">Email :</h4>
                <input type="email" name="email" class="form-control mb-4 mr-sm-2" 
                placeholder="xyz@abc.com">
                <h4 class="mr-4">Password :</h4>
                <input type="password" name="password1" class="form-control mb-4 mr-sm-2" 
                placeholder="Password">
                <h4 class="mr-4">Confirm Password :</h4>
                <input type="password" name="password2" class="form-control mb-4 mr-sm-2" 
                placeholder="Confirm Password">
                <input type="submit" value="Submit" class="btn btn-success btn-lg btn-block mt-4">
            </form>
        </div>
    </div>
{% endblock %}